<ion-app>
  <ion-content>
    <div class="background"></div>
    <div class="form-wrapper">
      <div class="form-container">
        <div class="form-box">
          <h2>REGISTER</h2>
          <ion-item lines="none">
            <ion-input placeholder="First Name" type="text"></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-input placeholder="Last Name" type="text"></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-input placeholder="Email" type="email"></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-input placeholder="Password" type="password"></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-input placeholder="Confirm Password" type="password"></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-checkbox></ion-checkbox>
            <span>I accept Terms of Use</span>
          </ion-item>
          <ion-button (click)="logout()" expand="block" class="register-button">REGISTER NOW</ion-button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-app>
