<ion-app>
  <ion-content>
    <div class="greeting-section">
      <h2>Bienvenido!! {{ user }}</h2>
      <h1>¿Qué hacemos hoy?</h1>
      <ion-button (click)="goToCrearCancha()" expand="block" color="primary">
        Crear Nueva Cancha
      </ion-button>
      
      
      
    </div>

    <ion-grid class="options-section">
      <ion-row>
        <ion-col>
          <ion-card class="option-card">
            <ion-icon name="basketball-outline"></ion-icon>
            <p>Reservá una cancha</p>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card class="option-card">
            <ion-icon name="people-outline"></ion-icon>
            <p>Encontrá un partido</p>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card class="option-card">
            <ion-icon name="trophy-outline"></ion-icon>
            <p>Jugá torneos</p>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- Sección de canchas disponibles -->
    <div class="canchas-section">
      <h2>Canchas Disponibles</h2>
      <ion-grid>
        <ion-row *ngFor="let cancha of canchas">
          <ion-col>
            <ion-card>
              <ion-card-header>
                <ion-card-title>{{ cancha.name }}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p>Ubicación: {{ cancha.location }}</p>
                <p>Tipo: {{ cancha.type }}</p>
                <p>Precio por hora: ${{ cancha.price_per_hour }}</p>
                <!-- Aquí agregas el botón de reservar -->
                <ion-button expand="block" color="primary" (click)="reservarCancha(cancha)">Reservar</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    

    <div class="matches-section">
      <h2>Partidos en Vivo</h2>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card class="match-card green-card">
              <h3>Guillermo López Moreira <br> Diego Cabral</h3>
              <p>VS</p>
              <h3>Viani Alfonso <br> Andres Delgado</h3>
              <span>Final - Caballeros - 3ra Circuito KIA - Villa Morra</span>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card class="match-card orange-card">
              <h3>Donatto Serna Thompson <br> Mauricio Rodriguez</h3>
              <p>VS</p>
              <h3>Joaquin Vallejo <br> Pablo Cerutti</h3>
              <span>Final - Caballeros - 2da Circuito KIA - Villa Morra</span>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="notification-section">
      <ion-card>
        <h3>Activá las notificaciones</h3>
        <p>
          Queremos que te enteres de todo lo que pasa con tus reservas.
          ¡Activá las notificaciones y no te pierdas de nada!
        </p>
        <ion-button expand="block" color="warning">Activar</ion-button>
      </ion-card>
    </div>
  </ion-content>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="play-circle"></ion-icon>
        Listen Now
      </ion-tab-button>
      <ion-tab-button tab="radio">
        <ion-icon name="radio"></ion-icon>
        Radio
      </ion-tab-button>
      <ion-tab-button tab="principal" [routerLink]="['/tabs/principal']">
        <ion-icon name="book"></ion-icon>
        Library
      </ion-tab-button>
      <ion-tab-button tab="person" [routerLink]="['/tabs/person']">
        <ion-icon name="person-circle-outline"></ion-icon>
        {{ user }}
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
