<ion-content>
  <div class="content-container">
    <!-- Encabezado -->
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Perfil</ion-title>
      </ion-toolbar>
    </ion-header>

    <!-- Contenedor de avatar y botón -->
    <div class="profile-header">
      <ion-avatar slot="start">
        <img src="assets/avatar-placeholder.png" alt="Profile">
      </ion-avatar>
      <ion-button fill="solid" class="edit-avatar-button">Edit picture or avatar</ion-button>
    </div>

    <!-- Contenedor del formulario -->
    <div class="form-container">
      <h2 class="form-title">Mi Perfil</h2>

      <!-- Lista de campos -->
      <ion-item class="form-item">
        <ion-label position="stacked">Username</ion-label>
        <ion-input placeholder="Enter username" value="{{profile.user.user}}"></ion-input>
      </ion-item>

      <ion-item class="form-item">
        <ion-label position="stacked">Password</ion-label>
        <ion-input type="password" placeholder="Enter password"></ion-input>
      </ion-item>

      <ion-item class="form-item">
        <ion-label position="stacked">Email</ion-label>
        <ion-input placeholder="Enter email" value="{{profile.user.email}}"></ion-input>
      </ion-item>

      <ion-item class="form-item">
        <ion-label position="stacked">Name</ion-label>
        <ion-input placeholder="Enter name" value="{{profile.user.Person.name}}"></ion-input>
      </ion-item>

      <ion-item class="form-item">
        <ion-label position="stacked">Lastname</ion-label>
        <ion-input placeholder="Enter lastname" value="{{profile.user.Person.lastname}}"></ion-input>
      </ion-item>

      <ion-item class="form-item">
        <ion-label position="stacked">CI</ion-label>
        <ion-input placeholder="Enter CI" value="{{profile.user.Person.ci}}"></ion-input>
      </ion-item>

      <ion-item class="form-item">
        <ion-label position="stacked">Address</ion-label>
        <ion-input placeholder="Enter address" value="{{profile.user.Person.address}}"></ion-input>
      </ion-item>

      <ion-item class="form-item">
        <ion-label position="stacked">Phone</ion-label>
        <ion-input placeholder="Enter phone" value="{{profile.user.Person.phone}}"></ion-input>
      </ion-item>

      <ion-item class="form-item">
        <ion-label position="stacked">Photo</ion-label>
        <ion-input placeholder="Enter photo link"></ion-input>
      </ion-item>
    </div>
  </div>
</ion-content>
