<ion-app>
  <ion-content>
    <div class="background"></div>
    <div class="form-wrapper">
      <div class="form-container">
        <div class="form-box">
          <h2>REGISTRO</h2>
          <ion-item lines="none">
            <ion-input #user placeholder="Nombre" type="text"></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-input #email placeholder="Email" type="text"></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-input #password placeholder="Contraseña" type="email"></ion-input>
          </ion-item>

          <ion-select #typeusers_id placeholder="Selecciona tipo de usuario">
          <ion-select-option value="1">Cliente</ion-select-option>
          </ion-select>
          
          <ion-button (click)="Registro(user,email,password,typeusers_id)" expand="block" class="register-button">REGISTER NOW</ion-button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-app>
